// base - compass library, onlys selected modules to speed up build times
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";


// vendor - related imports
@import "vendor/animate";

// color pallette, global vars and helpers
@import "colors";
@import "layout";
@import "typography";
@import "icons-config";

// reusable ui elements
@import "ui/page-preloader";
@import "ui/form";
@import "ui/buttons";

// subpages / states
@import "pages/intro";
@import "pages/cats-index";
@import "pages/_gallery";


*{
  @include box-sizing(border-box); // almost all browsers support this box sizing model
}

body{
  @include background-size(cover);

}
