.cats-index-page{
  .cats-index-title{
    @extend %alpha;
    color: $white;
    margin-bottom: .5em;
  }

  @import "index-item"; // inline import will preserve scope

  .cats-index-list{
    display:inline;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 207px;

  }

  .cats-index-add-btn{
    @extend %header-btn;
  }






}
