


li.cats-index-item{
  background: $white;
  padding: 0;
  display: block;
   -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  @include box-shadow(0 2px 5px rgba(0,0,0,.1));



  @for $i from 1 through 40{
    &:nth-child( #{$i} ){
      @include animate(fadeInLeft, .4s, $i * .07s);
    }
  }




  .image-inner {
    display:none;
    -webkit-transform: translateY(0%) translateZ(0);
       -moz-transform: translateY(0%) translateZ(0);
            transform: translateY(0%) translateZ(0);
    -webkit-transition: -webkit-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
       -moz-transition:    -moz-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
            transition:         transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
  }

  .cat-image {
    padding: 0;
    width: 100%;
    height: 400px;
    background-size:140%;
    background-position:center;

    .cat-name {
      color: #fff;
      text-align: center;
      margin:50% auto;
      font-size: 3em;
      // font-family: 'Josefin Sans', 'sans-serif';
      font-family: 'Sacramento', cursive;
    }
  }




  .overlay-figure-background {
    position: absolute;
    transition: all 0.5s ease;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-image: linear-gradient(to bottom right, rgba(211, 131, 18, 0.80), rgba(168, 50, 121, 0.80));
  }

  .overlay-figure:hover
  .overlay-figure-background {
    opacity: 1;
  }

  .overlay-figure-caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: adobe-clean, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    opacity: 1;
    -webkit-transition: opacity ease 0.25s;
       -moz-transition: opacity ease 0.25s;
            transition: opacity ease 0.25s;
  }

  .overlay-figure:hover
  .overlay-figure-caption {
      opacity: 1;
  }



  .overlay-figure-caption
  .cat-name {
    display: block;
    margin-bottom: 0;
    opacity: 1;
    -webkit-transform: translateY(0%) translateZ(0);
       -moz-transform: translateY(0%) translateZ(0);
            transform: translateY(0%) translateZ(0);
    -webkit-transition: -webkit-transform 0.5s ease 0.25s;
       -moz-transition:    -moz-transform 0.5s ease 0.25s;
            transition:         transform 0.5s ease 0.25s;
  }

  .overlay-figure:hover
  .cat-name {
    opacity: 1;
    -webkit-transform: translateY(100%) translateZ(0);
       -moz-transform: translateY(100%) translateZ(0);
            transform: translateY(100%) translateZ(0);
  }


  .overlay-figure-caption
  .icon-eye {
    position:absolute;
    top: 50%;
    left: 43%;
    padding: 15px;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.6);
    // border: 1px solid #2C3E50;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0) ;
            transform: translateY(0);

  -webkit-transition: -webkit-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
  -moz-transition:    -moz-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
      transition:         transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
  }

  .text {
    display: block;
    // font-family: 'Lato', sans-serif;
    font-family: 'Josefin Sans', 'sans-serif';
    margin: -30px auto;
    text-align: center;
    opacity: 0;
    font-size: 1.2em;
    width: 270px;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0) ;
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
       -moz-transition:    -moz-transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
            transition:         transform 0.5s ease 0.25s, opacity 0.15s ease 0.25s;
  }

  .overlay-figure:hover
  .text {
    opacity: 1;
    -webkit-transform: translateY(-180px) ;
       -moz-transform: translateY(-180px)  ;
            transform: translateY(-180px);
  }
  .overlay-figure:hover span.icon-eye {
    opacity: 0.6;
    -webkit-transform: translateY(-20px) ;
       -moz-transform: translateY(-20px)  ;
            transform: translateY(-20px);
  }

  .overlay-figure:hover span.icon-eye:hover {
    opacity: 1;

  }


}
